<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
    <div class="container">
        <div class="main-content">
            {{>header}}
        </div>


        {{>footer}}
    </div>

    <script src="/js/main.js"></script>
</body>

</html>